@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Ubuntu:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6, .logo {
  font-family: 'Ubuntu', sans-serif;
}

/* Navbar */

.logo:hover {
  color: #08a2b4; 
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/bg-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  background-color: #012d32;
  min-height: 100vh;
}

.pfp {
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
}

/* About */

#Acerca-de-mi i {
  font-size: 4rem;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card, .card-body, .btn {
  border-radius: 0;
}

.card {
  border: none;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

#Contacto textarea {
  min-height: 100px;
  max-height: 300px;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
